  //COLORS
  $color-primary-light: rgb(126, 213, 111);
  $color-primary: #55c57a;
  $color-primary-dark: rgb(40, 180, 133);

  $grey: #777777;
  $grey-2: #999;
  $grey-light-1: #f7f7f7;
  $grey-light-2: #eee;
  $grey-dark-1: #333;

  $white: #fff;
  $black: #000;

  $orange-light: #ffb900;
  $orange-dark: #ff7730;

  $blue-light: #2998ff;
  $blue-dark: #5643fa;

  //FONTS
  $default-font-size: 1.6rem;

